version: "3"

services:
  web-honeypot :
    build: ./web-honeypot
    ports:
      - "80:3000"
    depends_on:
      - dummy-db
    volumes:
      - ./logs:/logs
    
  api-honeypot:
    build: ./api-honeypot
    ports:
      - "8080:4000"
    depends_on:
      - dummy-db
    volumes:
      - ./logs:/logs
  cowrie:
      image: cowrie/cowrie
      ports:
        - "22:2222"
      volumes:
        - ./logs:/cowrie/cowrie-git/var/log/cowrie

  dummy-db:
      image: mongo:6
      container_name: dummy-db
      environment:
        MONGO_INITDB_ROOT_USERNAME: admin
        MONGO_INITDB_ROOT_PASSWORD: admin123
      ports:
        - "27017:27017"
      volumes:
        - ./logs/db.log:/var/log/mongodb.log
      command: ["mongod", "--logpath", "/var/log/mongodb.log", "--bind_ip_all"]
